/* style.css */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    /* Disable text selection and callouts on mobile for a cleaner interaction */
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    /* Prevent default pan and zoom gestures to ensure the touch event is handled by our script */
    touch-action: none;
}

body {
    background-color: #0E0E0E;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(45px, 1fr));
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 0px;
    overflow: hidden;
}

.line {
    width: 100%;
    height: 100%;
    transform-origin: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
    
.line::before {
    content: '';
    background-color: var(--line-color, rgb(200, 128, 253));
    width: var(--line-width, 1.5px);
    height: 46px;
    border-radius: 0px;
    transition: background-color 0.3s ease-out, width 0.3s ease-out;
}
